.link {
    text-decoration: underline;
    font-family: "SF Text Bold";
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-image: url("gradient.png");
    background-size: cover;
    background-position: center;
}
